<template name="recordEdit">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {{!-- > quickRemoveButton collection="Records" _id=this._id class="btn btn-danger" --}}

                {{#autoForm collection="Records" id="editRecordForm" type="update" doc=this}}

                <div class="modal-header">
                    <h4 class="modal-title">Station bearbeiten</h4>
                </div>

                <div class="modal-body">
                    {{#each afFieldNames}}
                        {{> afQuickField name=this.name options=afOptionsFromSchema}}
                    {{/each}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left record-delete">Löschen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>
